* {

    padding: 0px;
    margin: 0px;


}

body {

    height: 2500px;
}

ul {

    background-color: #fff;

    text-align: center;
}

ul li {

    display: inline-block;
    padding: 20px;

}

ul li a {

    text-decoration: none;
    color: black;

}

ul li a:hover {


    color: red;
}

.img-header {

    width: 100%;
}

.features{

    width: 80%;
    text-align: center;
    margin: auto;
    padding-top: 30px;

}
.features h2{


    margin-bottom: 30px;
    color:red;
    font-size: 30px;
}

.all-features {

    display: flex;
    justify-content: space-between;

}

.feature {
    text-align: center;
    width: 30%;
    background-color: #eee;
    height: 200px;
    border-radius:10px ;
    padding-top: 15px;
    transition:all 0.25s;


}
.feature:hover{


    background-color:#fff ;
    box-shadow: 3px 3px 10px rgb(222, 129, 129);
    cursor:pointer;

}
.feature i{

    font-size: 30px;
    color:red;
    margin-bottom: 10px;
}
.feature h3{

    margin-top: 5px;
    color:red;
    font-size:20px;
}
.feature p{

    font-size: 18px;
    margin-top: 15px;
    line-height: 1.5;
}
/*End of feature*/

/*Start photos*/
.my-photos{



   padding: 50px;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    background-color: #eee;
    margin-top: 50px;
    padding-bottom: 50px;
    
}
.my-photos h2{

    margin-bottom: 30px;
    color:red;
    font-size: 30px;

}

.all-photos{


    display: flex;
    justify-content: space-between;
}
.photo{

    width: 32%;
    cursor: pointer;
}
.photo:hover{



}
.photo img{


    width: 100%;
}
/*End photos*/
.contact{

padding:30px;
margin: auto;
width: 50%;
background-color: #eee;


}

.form-contact{


    width:80%;
    margin: auto;
    text-align: center;
    
}

.form-input {



    margin-bottom: 20px;
}
.form-input input{

width: 70%;
height: 40px;
border-radius:5px ;
border: 1px solid #ccc;

}
.form-input textarea{

    width: 400px;
    height: 250px;
    border-radius:5px;
    border: 1px solid #ccc;
    
    }
    .btn-send{

        background-color: red;
        width: 150px;
        height: 40px;
        border: none;
        color:#fff;
        font-size: 20px;
        transition: all 0.25s;
    }
    .btn-send:hover{


        background-color:rgb(172, 161, 161);
        cursor: pointer;
    }
    .our-countact {

        text-align:center;
       width: 80%;
        margin: 30px;
        padding: 50px;
  
    }
    
    .our-countact h2{



        text-align: center;
        color: red;
        margin-bottom: 30px;
        
        font-size:30px;
    }
    footer{


       text-align: center;
       padding: 20px;
       background-color: black;
       color:white;
       margin-top: 20px;
       height: 300px;
    }